* {
    padding: 0;
    margin: 0;
}

.wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 980px;
    height: 500px;
    border: 1px solid red;
}

.music-progress-bar {
    width: 500px;
    height: 5px;
    background: #ccc;
}

.music-progress-over {
    background: blue;
    height: 5px;
}

.music-progress-buffered {
    background: #000;
}