<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>博客首页</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
</head>
<body>
<div id="app">
    <h1>博客列表</h1>
    <ul>
        <li v-for="l in list">
            <a :href="'detail.html?id=' + l.id">{{l.title}}</a>
            <span>作者：{{l.author}}</span>
        </li>
    </ul>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            list: []
        },
        created() {
            axios({
                url: '/api/blog/list'
            }).then(({data}) => {
                this.list = data.data
            })
        }
    })
</script>
</body>
</html>