{
    "presets": [
        "env"
    ],
    "plugins": [],
    "env": {
        "development": {
            "plugins": []
        },
        "production": {
            "plugins": ["transform-runtime"]
        }
    }
}